#drone1 {
  width: 50vw;
  /* max-width: 1920px; */
}

.img-fluid,
.hotspot-container {
  width: 100%;
  /* max-width: 1920px; */
  margin: auto;
  overflow: hidden;
}

.HS__Wrapper {
  position: relative;
}

.HS__Wrapper .HS__Close {
  display: none;
}

.HS__Wrapper .Content__Wrapper {
  position: relative;
}

.HS__Wrapper .HS__Modal__Content {
  background: #131313;
  border-radius: 5px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
  color: #fff;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 400px; /*Change this to adjust modal size*/
  z-index: 4;
}

.HS__Wrapper .HS__Modal__Content .Content__Wrapper {
  padding: 20px;
}

.HS__Wrapper .HS__Modal__Content .Content__Wrapper .HS__Title {
  font-size: 24px;
  text-transform: uppercase;
  color: white !important;
}

.HS__Wrapper .HS__Modal__Content .Content__Wrapper p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.HS__Wrapper .HS__Input {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  width: 0;
  z-index: -1;
}

.HS__Wrapper .HS__Input + .HS__Label {
  background: #3176b8;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transition: all 300ms ease;
  width: 20px;
  z-index: 2;
  animation: pulse 1.5s infinite;
}

@media (min-width: 1200px) {
  .HS__Wrapper .HS__Input + .HS__Label {
    height: 30px;
    width: 30px;
  }
}

.HS__Wrapper .HS__Input + .HS__Label:before,
.HS__Wrapper .HS__Input + .HS__Label:after {
  background: #fff;
  content: "";
  cursor: pointer;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.HS__Wrapper .HS__Input + .HS__Label:before {
  height: 2px;
  width: 40%;
}

.HS__Wrapper .HS__Input + .HS__Label:after {
  height: 40%;
  width: 2px;
}

.HS__Wrapper .HS__Input ~ .HS__Overlay {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
}

.HS__Wrapper .HS__Input:checked + .HS__Label {
  transform: rotate(45deg);
}

.HS__Wrapper .HS__Input:checked ~ .HS__Modal__Content {
  opacity: 1;
  visibility: visible;
}

.HS__Wrapper .HS__Input:checked ~ .HS__Overlay {
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #3176b8;
  opacity: 0.2;
}

.HS__Wrapper.HS__Blur figure {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.HS__Wrapper.HS__Blur .HS__Input {
  display: none;
}

.HS__Wrapper.HS__Blur .HS__Input + .HS__Label {
  opacity: 0.5;
  pointer-events: none;
}

.HS__Wrapper.HS__Blur .HS__Input:checked {
  display: inline-block;
}

.HS__Wrapper.HS__Blur .HS__Input:checked + .HS__Label {
  opacity: 1;
  pointer-events: auto;
}

.HS__Modal {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.HS__Wrapper .hero-banner-mobile {
  display: block;
}

.HS__Wrapper .hero-banner {
  display: none;
}

/* Only enable hover function when the screen is big */
@media only screen and (min-width: 769px) {
  .HS__Wrapper .hero-banner-mobile {
    display: none;
  }

  .HS__Wrapper .hero-banner {
    display: block;
  }

  .HS__Wrapper .HS__Input:hover + .HS__Label {
    transform: rotate(45deg);
  }

  .HS__Wrapper .HS__Input:hover ~ .HS__Modal__Content,
  .HS__Wrapper .HS__Input ~ .HS__Modal__Content:hover {
    opacity: 1;
    visibility: visible;
  }
}

/* Whenever the screen is less than 1200px, modal will be centered */
@media only screen and (max-width: 1200px) {
  .HS__Wrapper .HS__Modal__Content {
    /* bottom: auto !important; */
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -30%) !important;
    width: 80%;
  }

  .HS__Wrapper .HS__Modal__Content .HS__Close {
    background: #3176b8;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 20px;
    right: -5px;
    position: absolute;
    top: -5px;
    transition: all 300ms ease;
    transform: rotate(45deg);
    width: 20px;
    z-index: 5;
  }

  .HS__Wrapper .HS__Modal__Content .HS__Close:before,
  .HS__Wrapper .HS__Modal__Content .HS__Close:after {
    background: #fff;
    content: "";
    cursor: pointer;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .HS__Wrapper .HS__Modal__Content .HS__Close:before {
    height: 2px;
    width: 40%;
  }

  .HS__Wrapper .HS__Modal__Content .HS__Close:after {
    height: 40%;
    width: 2px;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px #3176b8;
  }
  to {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

/* WP BUTTONS */
/* Buttons */
.wp-button.wp-button-border {
  color: white;
}

.wp-button.wp-button-border:hover {
  background-color: #2ecc71;
  color: white !important;
}

.wp-button {
  margin: 0;
}

/* Position of Hotspot in Mobile */
@media only screen and (max-width: 769px) {
  /* Drone 1*/
  input#H1.HS__Input,
  input#H1.HS__Input + label.HS__Label {
    left: 62% !important;
    top: 82% !important;
  }

  /* Smart Watch*/
  input#H2.HS__Input,
  input#H2.HS__Input + label.HS__Label {
    left: 50% !important;
    top: 5% !important;
  }

  /* Bluetooth Speaker */
  input#H3.HS__Input,
  input#H3.HS__Input + label.HS__Label {
    left: 55% !important;
    top: 32% !important;
  }

  /* Earphone */
  input#H4.HS__Input,
  input#H4.HS__Input + label.HS__Label {
    left: 75% !important;
    top: 82% !important;
  }
}
